<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>We use notifications to remind you when your focus sessions are complete.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>We use your calendar to schedule focus blocks.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>We use Apple Music to play focus-enhancing soundtracks.</string>
	<key>NSRemindersUsageDescription</key>
	<string>This app needs access to your reminders to sync tasks.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>We use your health data to optimize your focus and scheduling.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>We use your health data to recommend time blocks and tasks</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>AppIcon-Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Blue</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Green</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>AppIcon-Purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIcon-Purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
